<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Catégorie</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>Catégorie</h2>
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-6 text-right">
				<a href="/categories/list">Return</a>&nbsp;
			</div>
		</div>
		<div class="row">
			<table class="table table-bordered col-12">
				<thead>
					<tr>
						<th>Id</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${categorySelected}">
						<td th:text="${category.id}"></td>
						<td th:text="${category.description}"></td>						
						<td style="width: 50%" class="text-center"><a
							th:href="@{/categories/update/{id}(id=${category.id})}">Modifier</a>&nbsp;						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>