<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Ajouter un produit</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
	<div class="container">

		<div class="row">
			<h2>Ajouter un produit</h2>
		</div>

		<div class="row">

			<form th:action="@{/produits/validate}" th:object="${produit}"
				method="post" class="form-horizontal" style="width: 100%">

				<div class="form-group">
				
					<label for="categorieProduit" class="col-sm-5 control-label">Catégorie :</label>
					
					<div class="col-sm-10">	
					<select th:field="*{categorieProduit}">
   						 <option th:each="category : ${categories}"
        						th:value="${category.description}"
        						th:text="${category.description}">
            					Catégorie
   						 </option>
					</select>
					</div>
					
					<div class="col-sm-10">
						<input type="search" th:field="*{categorieProduit}" id="categorieProduit"
							placeholder="Catégorie du produit" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('categorieProduit')}"
							th:errors="*{categorieProduit}"></p>
					</div>
					
				</div>
				<div class="form-group">
					<label for="sousCategorieProduit" class="col-sm-5 control-label">Sous-catégorie :</label>
					<div class="col-sm-10">
						<input type="button" th:field="*{sousCategorieProduit}" id="sousCategorieProduit"
							placeholder="Sous-catégorie" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('sousCategorieProduit')}"
							th:errors="*{sousCategorieProduit}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="fournisseurProduit" class="col-sm-5 control-label">Fournisseur :</label>
					<div class="col-sm-10">
						<input type="button" th:field="*{fournisseurProduit}" id="fournisseurProduit"
							placeholder="Fournisseur" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('fournisseurProduit')}"
							th:errors="*{fournisseurProduit}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="factureProduit" class="col-sm-5 control-label">No de facture :</label>
					<div class="col-sm-10">
						<input type="button" th:field="*{factureProduit}" id="factureProduit"
							placeholder="No de facture" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('factureProduit')}"
							th:errors="*{factureProduit}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-5 control-label">Description du produit :</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{description}" id="description"
							placeholder="Description" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="dateAchat" class="col-sm-5 control-label">Date d'achat :</label>
					<div class="col-sm-10">
						<input type="date" th:field="*{dateAchat}" id="dateAchat"
							placeholder="Date achat" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('dateAchat')}"
							th:errors="*{dateAchat}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="lieuAchat" class="col-sm-5 control-label">Lieu d'achat :</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{lieuAchat}" id="lieuAchat"
							placeholder="Lieu achat" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('lieuAchat')}"
							th:errors="*{lieuAchat}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="quantite" class="col-sm-5 control-label">Quantité :</label>
					<div class="col-sm-10">
						<input type="number" th:field="*{quantite}" id="quantite"
							placeholder="Quantité" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('quantite')}"
							th:errors="*{quantite}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="pourcentageDeRemise" class="col-sm-5 control-label">Remise (en %) :</label>
					<div class="col-sm-10">
						<input type="number" th:field="*{pourcentageDeRemise}" id="pourcentageDeRemise"
							placeholder="Exemple: mettre '5' pour 5% de remise" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('pourcentageDeRemise')}"
							th:errors="*{pourcentageDeRemise}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="prixAchatUnitaireTTC" class="col-sm-5 control-label">Prix achat unitaire :</label>
					<div class="col-sm-10">
						<input type="number" th:field="*{prixAchatUnitaireTTC}" id="prixAchatUnitaireTTC"
							placeholder="Prix achat unitaire" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('prixAchatUnitaireTTC')}"
							th:errors="*{prixAchatUnitaireTTC}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="commentaire" class="col-sm-5 control-label">Commentaire :</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{commentaire}" id="commentaire"
							placeholder="Commentaire" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('commentaire')}"
							th:errors="*{commentaire}"></p>
					</div>
				</div>
				<div class="form-group">
					<label for="documentEtPhoto" class="col-sm-5 control-label">Joindre photo ou pdf :</label>
					<div class="col-sm-10">
						<input type="file" th:field="*{documentEtPhoto}" id="documentEtPhoto"
							placeholder="Pièce jointe" class="col-4">
						<p class="text-danger" th:if="${#fields.hasErrors('documentEtPhoto')}"
							th:errors="*{documentEtPhoto}"></p>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<a class="btn btn-danger btn-sm" href="/produits/list">Annuler</a>
						<input class="btn btn-primary btn-sm" type="submit"
							value="Ajouter un produit">
					</div>
				</div>

			</form>
		</div>

	</div>
</body>
</html>